<div class="row mb-3 justify-content-center">
  <div class="col col-sm-10 col-md-8 col-lg-6">
    <h1 class="text-center">Actor's Form</h1>

    <%= form_for @actor do | f |%>
      <div class="form-group">
        <%= label_tag(:name, "Actor's name:") %>
        <%= f.text_field :name, class: "form-control", placeholder: "Your name here", required: true  %>
      </div>
      <div class="form-group">
        <%= label_tag(:bio, "Actor's Biography:") %>
        <%= f.text_area :bio, class: "form-control", rows: "10",required: true  %>
      </div>
      <div class="form-group">
        <%= label_tag(:birth_date, "Actor's BirthDate:") %>
        <%= f.date_field :birth_date, class: "form-control", required: true  %>
      </div>
      <div class="form-group">
        <%= label_tag(:birth_place, "Actor's Birth Place:") %>
        <%= f.text_field :birth_place, class: "form-control", required: true  %>
      </div>
      <div class="form-group">
        <%= label_tag(:image_url, "Actor's Image:") %>
        <%= f.url_field :image_url, class: "form-control", required: true  %>
      </div>

      <div class="form-group">
        <legend class="col-form-label">Signos Vitales:</legend>
        <%= f.select :alive, [["Alive", "true"],["Death", "false"]], {}, { class: "form-control", required: true }  %>     
      </div>
      <div class="form-group">
        <%= label_tag(:death_date, "Actor's Death Date:") %>
        <%= f.date_field :death_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag(:death_place, "Actor's Death Place:") %>
        <%= f.text_field :death_place, class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit "Crear actor", class: "btn btn-primary" %>
      </div>
    <%  end %>
    
    <% if @errors %>
      <ul class="list-group">
      <% @errors.each do | error |%>
        <li class="list-group-item"><%= error %></li>
      <%  end %>
      </ul>    
    <% end %>
    
  </div>
</div>

